<h2>Bestellung Nummer: {{order.id}}</h2>
Bestellt um: {{order.date | date:"HH:mm:ss"}}<br>
Bezahlt: {{order.paid ? 'Ja' : 'Nein'}}
<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th class="text-right">Preis</th>
    <th>Aktion</th>
  </thead>
  <tbody>
     <tr *ngFor="let item of order.items" [apporderlistitem]="item" (onDelete)="deleteItem(item)"></tr>

     <tr *ngIf="order.items.length > 0">
       <td></td>
       <th>Summe</th>
       <th class="text-right">{{order_sum | currency:'EUR'}}</th>
       <td><button (click)="paid()" type="button" class="btn btn-warning" *ngIf="!order.paid">Bezahlen</button></td>
      </tr>
  </tbody>
</table>
