Bezahlt: {{paid ? 'Ja' : 'Nein'}}
<table class="table table-striped">
  <thead>
    <th>Anzahl</th>
    <th></th>
    <th>Name</th>
    <th class="text-right">Preis</th>
    <th>Aktion</th>
  </thead>
  <tbody>
     <tr *ngFor="let item of items" [itemDiv]="item" [editable]="editable" (deleteClicked)="deleteItem(item)" (updateClicked)="update_order_sum()"></tr>

     <tr *ngIf="items.length > 0">
       <td></td>
       <td></td>
       <th>Summe</th>
       <th class="text-right">{{sum | currency:'EUR'}}</th>
       <td><button (click)="pay()" type="button" class="btn btn-warning" *ngIf="!paid">Bezahlen</button></td>
      </tr>
  </tbody>
</table>
<div *ngIf="editable">
  <h4>Hinzufügen</h4>
  <app-add-order-item (addItem)="add_item($event)"></app-add-order-item>
</div>
<br>
<button class="btn btn-primary" (click)="submit_order()">Bestellen</button>
