<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="card">
        <div class="card-body">
            <app-stage [stageNumber]="0"></app-stage>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <app-new-order></app-new-order>
        </div>
    </div>
    <div class="card">
            <div class="card-body">
                <app-orders-overview></app-orders-overview>
            </div>
        </div>
</div>
